* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: linear-gradient(135deg, #333232, #000);
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
}

#app {
  margin-top: 10px;
  width: 97%;
  max-width: 400px;
  background: black;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(255, 255, 255);
}

.title {
  color: white;
  text-align: center;
  position: relative;
  margin-bottom: 15px;
  text-shadow: 0 0 10px grey;
}

.title span {
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
}

.task-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background: #444;
  border-radius: 10px;
  display: none;
}

.task-input input,
.add-task {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.add-task {
  background: black;
  color: white;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 0 5px white;
}

.list-container {
  margin-top: 20px;
}

ul li {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border: 0.5px solid white;
}

.checked {
  text-decoration: line-through black;
  color: gray;
}

.edit,
.delete {
  background: transparent;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 18px;
}

.text{
  cursor: pointer;
}

.display{
  display: none;
}